@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}


body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 10px 30px 0 rgba(50, 50, 50, .3); /*Как правильно вычислить тень?*/
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-navigation {
  font-weight: 700;
  line-height: 26px;
  color: #000000;
}

.main-header-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.main-navigation-wrapper {
  padding: 15px 72px;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation li {
  width: 20%;
}

.site-navigation li:nth-child(2) {
  margin-right: 11%;

}

.site-navigation li:nth-child(1),
.site-navigation li:nth-child(2){
  text-align: left;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4){
  text-align: right;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-current a {
  color: #766357;
}

.welcome-background {
  min-height: 509px;

  background-repeat: no-repeat;
  background-position: 0px -55px;
  background-image:
    url(../img/background-fix.jpg);
  background-color: #ffffff
}

.intro {
  margin: auto;
  padding: 0;

  width: 576px;


  min-height: 216px;

  text-align: center;
  line-height: 26px;


}

.intro b {
  font-size: 21px;
  color: #000000;
}

.title {
  margin: 0;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;


  list-style: none;

}

.feature-item-definition,
.town-feature-definition {
  width: 400px;
}

.feature-item-blue,
.feature-item-grey {
  text-align: center;
}

.feature-item-blue h3,
.feature-item-grey h3 {
  font-size: 21px;
}

.feature-number-blue:before,
.feature-number-blue:after {
  content: "";
}

.feature-item-blue {
  display: flex;
  flex-wrap: wrap;


  color: #ffffff;

  background-color: #81b3d2;
}


.feature-item-grey {
  display: flex;
  height: 256px;

  background-color: #eeeeee;
}

.feature-item-grey h3 {
  color: #000000;
}

.town-feature {



  background-color: #ffffff;
}

.town-feature-list {
  display: flex;
  height: 256px;

  margin: 0;
  padding: 0;

  list-style: none;
}

.town-feature-item {
  color: #333333;
}

.town-feature-item h3 {
   color: #000000;
}


.search {
  text-align: center;
}

.search b {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.search p {
  line-height: 24px;
}

.button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  border: none;
}

.hotel-search {
  background-color: #766357;
}

.hotel-search:focus,
.hotel-search:hover {
  background-color: #604e43;
}

.hotel-search:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.map {

  text-align: center;
}

.main-footer {
  opacity: 0.9;
  text-align: center;
}

.main-footer .container {
  display: flex;
  align-items: center;
}

.footer-hashtag {
  margin: 0;
  width: 400px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.footer-social {
  width: 400px;
  text-align: center;
}

.footer-social ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-social li {
  background-color: #81b3d2;
}

.footer-copyright {
  margin: 0;
  width: 400px;
}

.footer-copyright a {
  color: #000000;
}

.social-button {
  color: #ffffff;
}

.search-modal {
  color: #000000;
  line-height: 26px;

  background-color: #ffffff;
}

.hotel-search-form {
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
  line-height: 26px;
}

.hotel-search-item input[type="text"],
.hotel-search-item input[type="password"] {
  font: inherit;

  background-color: #f2f2f2;
  border: none;
}

.hotel-finder {
  background-color: #81b3d2;
}

.hotel-finder:focus,
.hotel-finder:hover {
  background-color: #669ec0;
}

.hotel-finder:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.hotel-filter {

  color: #ffffff;

  background-image: url(../img/filter-background.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #f2f2f2;
}

.filter fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.filter {
  display: flex;
  padding: 30px 72px;
}

.filter ul {
  margin: 0;
  padding: 0;
}

.filter .infrastructure {
  width: 240px;

}

.filter .living-type {
  width: 288px;

}

.hotel-filter legend,
.filter-caption {
  font-size: 16px;
  font-weight: 700;
}

.hotel-filter ul {
  list-style: none;
}

.filter-option:hover,
.filter-option:focus {
  color: #ffffff;
}

.filter-option:disabled {
  color: #6a6a6a;

  opacity: 0.3;
}

.filter-range-box {
  border: 2px solid #ffffff;
}

.filter-range-block {
  width: 288px;
  margin-left: auto;
}

.filter-range-block p {
  margin: 0;
  padding: 0;
}

.filter-range-box input {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.filter-button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  border: 2px solid #ffffff;
}

.sorting {
  color: #000000;
  font-size: 12px;
  line-height: 18px;
}

.sorting-wrapper {
  display: flex;
  align-items: baseline;
  margin: 0;
  padding: 30px 72px;
}

.sorting-wrapper ul {
  display: flex;
  width: 288px;
  justify-content: space-around;

}

.sorting-current,
.sorting-type {
  text-align: right;


}


.sorting-header {
  width: 240px;


}

.sorting-found {
  margin-right: 40px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

}

.sorting-label {

}

.sorting ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sorting-current a {
  color: #81b3d2;
  text-decoration: none;
}

.sorting-type a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.soring-triangles {
  margin-left: auto;
  display: flex;
  margin: 0;
  padding: 0;

}

.sorting-triangle-up::before {
  content: "";
  width: 11;
  height: 9;
  position: absolute;
  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
}

.sorting-triangle-down::before { /*Как правильно стилизовать? - псевдоэелемент */
  content: "";
  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
}

.catalog-list {
  margin: 0;
  padding: 0;
}

.catalog-hotel {
  display: flex;
  padding: 28px 72px 30px;
  border-top: 1px solid #e5e5e5;
}

.catalog-hotel-wrapper {
  display: flex;
  justify-content: space-between;
}

.catalog-hotel-main {
}

.catalog-hotel-image {
  margin-right: 30px;
}

.catalog-hotel-main h3 {
  margin-top: -6px;
  margin-bottom: 8px;
}

.catalog-hotel-main p {
  margin-bottom: 14px;
}

.catalog-hotel-main p:last-child {
  margin: 0;
}


.catalog-hotel-info {
  margin: 0;
  padding: 0;
}

.catalog-hotel-info span:first-child {
  margin-right: 39px;
}

.button-hotel-info {
  background-color: #81b3d2;
  font-size: 14px;
  line-height: 27px; /*Можно ли?*/
  display: inline-block;
  margin-right: 6px;
  width: 110px;
  height: 27px;
}

.button-hotel-info:focus,
.button-hotel-info:hover {
  background-color: #669ec0;
}

.button-hotel-info:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.button-hotel-book {
  background-color: #766357;
  font-size: 14px;
  line-height: 27px;
  display: inline-block;
  width: 142px;
  height: 27px;
}

.button-hotel-book:focus,
.button-hotel-book:hover {
  background-color: #604e43;
}

.button-hotel-book:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.hotel-header {
  margin: 0;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
}

.hotel-header a {
  color: #000000;
}

.hotel-header a:hover,
.hotel-header a:focus {
  color: #81b3d2;
}

.hotel-header a:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-hotel-rating {
  text-align: center;
  width: 111px;
  background-color: #f2f2f2;
}

.catalog-hotel-stars span {
  background-image: url(../img/star.svg);
  background-repeat: no-repeat;
}

.catalog-hotel-mark {
  margin-left: auto;
}



/*Тень от основного блока - блок в div*/

/*Картинки в форме*/

/*Ссылка в футере и социальные сети*/

/*Тире у цифр*/

/*Сортировка:*/

/*Прозрачная карта*/

/*Сетка отелей*/

/*Указание высоты*/

/*Сетка: три колонки равной ширины, стоящие вплотную друг к другу без отступов.*/

/*Контентная область центрируется и не может быть уже макетной ширины.*/

/* Главное меню: четыре ячейки одинаковой ширины. Для первых двух пунктов выравнивание текста по левому краю, для двух последних — по правому.*/

