@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

body {
  position: relative;

  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;

  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 1, 0.2);
          box-shadow: 0 5px 15px 0 rgba(0, 0, 1, 0.2);
  background-color: #ffffff;
}

main.container {
  display: block;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-navigation {
  font-weight: 700;
  line-height: 26px;
  color: #000000;
}

.main-header-logo {
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  right: 0;

  margin: 0 auto;
  width: 138px;
  height: 70px;
}

.main-navigation-wrapper {
  padding: 15px 6%;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-navigation li {
  width: 20%;
}

.site-navigation li:nth-child(4n-1),
.site-navigation li:nth-child(4n) {
  margin: 0;

  text-align: right;
}

.site-navigation li:nth-child(4n) {
  margin-left: 3%;
}

.site-navigation li:nth-child(4n-1) {
  margin-left: 7%;
}

.site-navigation li:nth-child(4n-2) {
  margin-right: 7%;
}

.site-navigation li:nth-child(4n-3) {
  margin-right: 3%;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-current a,
.site-navigation-current a:hover,
.site-navigation-current a:focus,
.site-navigation-current a:active {
  color: #766357;
}

.welcome-background {
  min-height: 509px;

  background-repeat: no-repeat;
  background-position: 0 -55px;
  background-image:
    url(../img/background-fix.jpg);
  background-color: #ffffff;
  background-size: cover;
}

.intro {
  margin: 0 auto;
  width: 576px;
  padding: 58px 20px 52px;

  text-align: center;
  line-height: 26px;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.intro b {
  display: block;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 28px;

  font-size: 21px;
  font-weight: 700;
  color: #000000;
}

.intro p {
  margin: 0;
}

.feature-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 1200px;

  list-style: none;
}

.feature-item-definition,
.town-feature-definition,
.feature-item-grey {
  width: 400px;
}

.feature-item-definition p {
  margin: 0 48px;
  margin-bottom: 22px;
}

.feature-item-grey p {
  margin: 0 68px;
  margin-bottom: 22px;
}

.feature-item-grey p:last-child {
  margin-bottom: 60px;
}

.feature-item-blue .feature-item-definition {
  background-color: #81b3d2;
}

.feature-item-blue,
.feature-item-grey {
  text-align: center;
}

.feature-item-blue img {
  width: 800px;
  height: 256px;
}

.feature-number-blue,
.feature-number-grey {
  position: relative;

  display: inline-block;
  margin: 0;

  vertical-align: middle;
}

.feature-number-blue::before,
.feature-number-blue::after,
.feature-number-grey::before,
.feature-number-grey::after {
  position: absolute;
  content: " – ";
}

.feature-number-grey::before,
.feature-number-blue::before {
  left: -13px;
}

.feature-number-grey::after,
.feature-number-blue::after {
  right: -13px;
}

.feature-item-blue h3,
.feature-item-grey h3 {
  margin: 47px 124px 24px 125px;

  font-size: 21px;
  text-align: center;
}

.feature-item-blue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  color: #ffffff;
}

.feature-item-blue:nth-of-type(2) img {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.feature-item-grey {
  background-color: #eeeeee;
}

.feature-item-grey h3 {
  color: #000000;
}

.town-feature {
  background-color: #ffffff;
}

.town-feature-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.town-feature-item {
  position: relative;

  width: 400px;

  color: #333333;
}

.town-feature-item::before {
  position: absolute;
  content: "";

  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.town-feature-item:first-child::before {
  top: 60px;
  right: 163px;

  width: 75px;
  height: 72px;

  background-image: url("../img/icon-1.svg");
}

.town-feature-item:nth-child(2)::before {
  top: 60px;
  right: 163px;

  width: 75px;
  height: 72px;

  background-image: url("../img/icon-3.svg");
}

.town-feature-item:last-child::before {
  top: 56px;
  right: 168px;

  width: 64px;
  height: 76px;

  background-image: url("../img/icon-2.svg");
}

.town-feature-item p {
  margin: 0 50px 81px 50px;
}

.town-feature-item h3 {
  margin: 0;
  margin-top: 161px;
  margin-bottom: 24px;

  color: #000000;
}

.search {
  text-align: center;
}

.search-wrapper {
  margin: 0 auto;
  width: 576px;
  padding: 49px 20px 47px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  text-align: center;
  line-height: 26px;
}

.search b {
  display: block;

  margin-bottom: 25px;

  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.search-quote {
  margin: 0;

  line-height: 24px;
}

.button {
  font: inherit;

  display: inline-block;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  border: none;
}

.hotel-search {
  width: 568px;
  padding: 31px 84px;

  background-color: #766357;

  cursor: pointer;
}

.hotel-search:focus,
.hotel-search:hover {
  background-color: #604e43;
}

.hotel-search:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.map {
  margin-bottom: -127px;

  text-align: center;
}

.map iframe {
  position: relative;
  z-index: 3;

  width: 1200px;
  height: 593px;

  border: none;
}

.map img {
  position: absolute;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  left: 50%;
  bottom: 0px;
  z-index: 2;

  width: 1200px;
  height: 593px;
}

.main-footer {
  position: relative;
  z-index: 6;

  text-align: center;

  opacity: 0.9;
}

.main-footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-hashtag {
  margin: 48px 132px;
  width: 136px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.footer-social {
  margin: 36px 0;
  width: 400px;
}

.footer-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0 auto;

  list-style: none;
}

.footer-social li {
  margin-right: 6px;
  margin-bottom: 6px;
}

.footer-social li:nth-child(3n) {
  margin: 0;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 46px;
  height: 48px;

  background-color: #81b3d2;
}

.footer-copyright {
  margin: 39px 100px 0 190px;
}

.footer-copyright {
  position: relative;

  display: block;
  width: 115px;
  height: 41px;
}

.footer-copyright-logo:hover path,
.footer-copyright-logo:focus path {
  fill: #81b3d2;
}

.footer-copyright-logo:active path {
  fill: #bdbbbc;
}

.footer-copyright a::before {
  position: absolute;
  content: "website by";
  bottom: 12px;
  right: 115px;
  
  width: 89px;

  color: #000000;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active path {
  fill: #88b6d1;
}

.hotel-search-modal {
  position: absolute;
  z-index: 4;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);

  display: block;
  width: 458px;
  padding: 55px;

  color: #000000;
  line-height: 26px;

  background-color: #ffffff;

  -webkit-animation: open 1s;
          animation: open 1s;
}

.modal-close {
  display: none;
}

.modal-error {
  -webkit-animation-name: shake;
          animation-name: shake;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

.hotel-search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
  line-height: 26px;

  background-color: #ffffff;
}

.hotel-search-item {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

.hotel-search-item:nth-of-type(1) label {
  margin-right: 6px;
}

.hotel-search-item:nth-of-type(2) label {
  margin-right: 2px;
}

.hotel-search-item:nth-of-type(3) label {
  margin-right: 23px;
}

.hotel-search-item:nth-of-type(4) label {
  margin-right: 27px;
}

.hotel-search-item:nth-of-type(1),
.hotel-search-item:nth-of-type(2) {
  width: 458px;
  margin-bottom: 30px;
}

.hotel-search-item:nth-of-type(3) {
  width: 226px;
  margin-bottom: 54px;
}

.hotel-search-item:nth-of-type(4) {
  width: 179px;
  margin-bottom: 54px;
}

.hotel-search-item input[type="text"],
.hotel-search-item input[type="password"] {
  font: inherit;

  width: 346px;
  height: 38px;
  padding-right: 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  text-transform: uppercase;

  background-color: #f2f2f2;
  border: none;
}

.hotel-search-item input[type="text"]:hover,
.hotel-search-item input[type="password"]:hover {
  background-color: #ebebeb;
}

.hotel-search-item input[type="text"]:focus,
.hotel-search-item input[type="password"]:focus {
  background-color: #ffffff;
}

.hotel-search-item input[type="text"]::-webkit-input-placeholder,
.hotel-search-item input[type="password"]::-webkit-input-placeholder {
  color: #000000;
}

.hotel-search-item input[type="text"]::-moz-placeholder,
.hotel-search-item input[type="password"]::-moz-placeholder {
  color: #000000;
}

.hotel-search-item input[type="text"]:-moz-placeholder,
.hotel-search-item input[type="password"]:-moz-placeholder {
  color: #000000;
}

.hotel-search-item input[type="text"]:-ms-input-placeholder,
.hotel-search-item input[type="password"]:-ms-input-placeholder {
  color: #000000;
}

.hotel-search-item:nth-of-type(1) input,
.hotel-search-item:nth-of-type(2) input {
  padding-left: 13px;
}

.hotel-search-item:nth-of-type(3) input,
.hotel-search-item:nth-of-type(4) input {
  width: 114px;
  padding-left: 35px;

  text-align: center;
}

.hotel-search-calendar,
.hotel-search-minus,
.hotel-search-plus {
  position: absolute;

  border: none;
  background-color: transparent;

  cursor: pointer;
}

.hotel-search-calendar {
  top: 8px;
  right: 9px;

  width: 21px;
  height: 22px;
  padding: 0;
}

.hotel-search-minus,
.hotel-search-plus {
  top: 10px;

  width: 19px;
  height: 19px;
}

.hotel-search-minus {
  right: 85px;
}

.hotel-search-plus {
  right: 10px;
}

.hotel-search-minus::before,
.hotel-search-plus::before,
.hotel-search-plus::after {
  position: absolute;
  content: "";
  top: 8px;
  left: 5px;

  width: 10px;
  height: 3px;

  background-color: #a9a9a9;
}

.hotel-search-plus:after {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.hotel-search-minus:hover::before,
.hotel-search-plus:hover::before,
.hotel-search-plus:hover::after,
.hotel-search-minus:focus::before,
.hotel-search-plus:focus::before,
.hotel-search-plus:focus::after {
  background-color: #000000;
}

.hotel-search-minus:active::before,
.hotel-search-plus:active::before,
.hotel-search-plus:active::after {
  background-color: #81b3d2;
}

.hotel-search-calendar path {
  fill: #cacaca;
}

.hotel-search-calendar:hover path,
.hotel-search-calendar:focus path {
  fill: #000000;
}

.hotel-search-calendar:active path {
  fill: #81b3d2;
}

.hotel-finder {
  width: 100%;
  padding: 17px;
  margin-right: 0;

  background-color: #81b3d2;

  cursor: pointer;
}

.hotel-finder:focus,
.hotel-finder:hover {
  background-color: #669ec0;
}

.hotel-finder:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.hotel-filter {
  color: #ffffff;

  background-image: url(../img/filter-background.jpg);
  background-repeat: no-repeat;
  background-position: 0 -55px;
  background-color: #f2f2f2;
}

.filter fieldset {
  margin: 0;
  margin-top: 27px;
  margin-left: 72px;
  margin-bottom: 7px;
  padding: 0;
  width: 183px;

  border: none;
}

.filter living-type {
  margin-left: 85px;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filter-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter ul {
  margin: 0;
  padding: 0;
}

.hotel-filter legend {
  margin-bottom: 25px;

  font-size: 16px;
  font-weight: 700;
}

.hotel-filter ul {
  list-style: none;
}

.filter-option {
  margin-bottom: 25px;
  padding-left: 40px;
}

.filter-option label {
  position: relative;

  display: block;
  
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.filter-option-checkbox + label::before {
  position: absolute;
  content: "";
  left: -40px;
  top: 0;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-option-checkbox:checked + label::before {
  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
}

.filter-option-checkbox:focus + label::before,
.filter-option-checkbox:focus + label {
  outline: 1px dotted #212121;
  outline: 5px auto -webkit-focus-ring-color;
}

.filter-option-checkbox:disabled + label::before {
  fill: #6a6a6a;

  opacity: 0.3;
}

.filter-range-block {
  margin-right: 72px;
  width: 320px;
}

.filter-caption {
  margin-left: 3px;
  margin-top: 27px;
  margin-bottom: 9px;

  font-size: 16px;
  font-weight: 700;
}

.price-controls {
  position: relative;

  height: 32px;
  padding-top: 5px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);

  width: 2px;
  height: 22px;

  background: #ffffff;
}

.price-controls label {
  display: inline-block;
  
  vertical-align: bottom;
  font-size: 14px;
  line-height: 21px;
  
  cursor: pointer;
}

.price-controls .min-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls .max-price {
  width: 90px;
  padding-left: 58px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  margin-left: 5px;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-control {
  position: relative;

  margin-bottom: 32px;
}

.range-control .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-control .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);

  cursor: pointer;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.range-toggle:hover,
.range-toggle:active{
  background: #1c4f80;
}

.filter-button {
  display: block;
  vertical-align: middle;
  margin: 0;
  margin-left: 85px;
  padding: 6px 35px;

  font: inherit;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;

  cursor: pointer;
}

.filter-button:hover,
.filter-button:active {
  color: #000000;

  background: #ffffff;
}

.sorting {
  color: #000000;
  font-size: 12px;
  line-height: 18px;
}

.sorting-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin: 30px 72px;
}

.sorting-wrapper ul {
  margin: 0 auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sorting-type-active,
.sorting-type {
  width: 86px;
}

.sorting-found {
  margin-right: 44px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sorting-header {
  margin-right: 40px;
}

.sorting ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.sorting-type-active a {
  color: #81b3d2;
  text-decoration: none;
}

.sorting-type-active a:hover,
.sorting-type-active a:focus,
.sorting-type a:hover,
.sorting-type a:focus {
  color: #81b3d2;

  border-bottom: 1px dotted #81b3d2;
}

.sorting-type-active a:active,
.sorting-type-active a:active,
.sorting-type a:active,
.sorting-type a:active {
  color: #000000;

  border: none;
}

.sorting-type a {
  color: rgba(0, 0, 0, 0.3);

  border-bottom: 1px dotted #81b3d2;
}

.sorting-triangles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.sorting-triangle-up,
.sorting-triangle-down {
  display: block;
  vertical-align: middle;
  width: 11px;
  height: 9px;
}

.sorting-triangle-up path,
.sorting-triangle-down path {
  fill: #cacaca;
}

.sorting-triangle-up.active path,
.sorting-triangle-down.active path {
  fill: #81b3d2;
}

.sorting-triangle-up:hover path,
.sorting-triangle-down:hover path,
.sorting-triangle-up:focus path,
.sorting-triangle-down:focus path {
  fill: #231f20;
}

.sorting-triangle-up:active path,
.sorting-triangle-down:active path {
  fill: #81b3d2;
}

.sorting-triangle-down {
  margin-left: 11px;
}

.catalog-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-hotel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 72px;

  border-top: 1px solid #e5e5e5;
}

.catalog-hotel:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.catalog-hotel-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-hotel-image {
  margin: 0;
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 135px;
  height: 90px;
}

.catalog-hotel-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.catalog-hotel-header {
  margin: 0;
  margin-top: 24px;
  margin-bottom: 8px;
  max-width: 400px;

  font-size: 21px;
  line-height: 26px;
}

.catalog-hotel-header a {
  color: #000000;
}

.catalog-hotel-header a:hover,
.catalog-hotel-header a:focus {
  color: #81b3d2;
}

.catalog-hotel-header a:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-hotel-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-bottom: 14px;
}

.catalog-hotel-info span {
  width: 110px;
  margin-right: 6px;
}

.catalog-hotel-button {
  margin: 0;
}

.button-hotel-info {
  margin-right: 3px;
  padding: 3px 17px;

  font-size: 14px;
  line-height: 21px;

  background-color: #81b3d2;
}

.button-hotel-info:focus,
.button-hotel-info:hover {
  background-color: #669ec0;
}

.button-hotel-info:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.button-hotel-book {
  padding: 3px 16px;

  font-size: 14px;
  line-height: 21px;

  background-color: #766357;
}

.button-hotel-book:focus,
.button-hotel-book:hover {
  background-color: #604e43;
}

.button-hotel-book:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.catalog-hotel-rating {
  margin: 0;
  padding: 0;
  margin-right: 1px;
  width: 110px;

  text-align: center;
  
  background-color: #f2f2f2;
}

.catalog-hotel-rating span {
  display: block;
  vertical-align: middle;
  padding: 3px 0;
}

.catalog-hotel-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0;
  padding: 0;
  margin-bottom: 47px;
      
  list-style: none;
}

.catalog-hotel-stars li {
  width: 18px;
  height: 17px;
  margin-left: 5px;

  background-image: url(../img/star.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-hotel-mark {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
}

@-webkit-keyframes open {
  from {
    opacity: 0;

  }
  to {
    opacity: 1;
  }
}

@keyframes open {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-52%);
            transform: translateX(-52%);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(-48%);
            transform: translateX(-48%);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-52%);
            transform: translateX(-52%);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(-48%);
            transform: translateX(-48%);
  }
}